<style>
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(data:font/opentype;charset=utf-8;base64,d09GMgABAAAAABwYAA4AAAAAQQwAABu9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGoEaG51mHII4
BmAAggwRCArFQLcZC4IcAAE2AiQDhCYEIAWFCAeJZRvRNzVj3M0MGweAQ7ZFIypGG42idFDuyP7/
zwlqjCE8dgJq1SaZ0xKDausFO61dtaWvY51g5fvm2IMtA3HKp99tKXbgSMZPB77iM0ycd0BaK/R3
mWXveX36nwBkIdBge4751rBJeKPaEI+fsvSv3PH/yAlyCeQti6scobFPcuF56s/6c6sqbGc+Mn4t
peG000p7qLQ8knefXoIrYQUyFs71P0l6DXTLuaREnwiEJiHZPaFVGcDB5H542uY/9bCwQGiJ44Aj
lRBUkBtHCCYoomizaDEX5dqVc/xluvjbLcqxWcv8kekvfwUAT/9/z36fOZdaHr/IIwuSgAK14Ouf
aWsFFeq5hvbzJaq1+vnM3tg9E2eh+QEy/fvRfunM/ouZl9/IEpKrWjgIoIyKqsvZPR8kLCSgAICl
q+lLUbqZfWbbyt/44xSOgFongMxwAi9Qfi6Xw+FwOFzYrRf0g3eCqlNTVNJzfrAxZOowxhhCY516
/Z/NtN1/c3oHqKgM4IHdhXqmLlU1u39n5NG/ERlX8/x0Z9aZSaPVgQJARYVks0JIXZ67AFVpUxWp
ilRlijou6iZE5emZ21T6IFThzFQ6oQBGCloDrsmY1rtY0v6DY+HYEbsn/ictK2z0malnqmoXlYuo
qKjedxHPQQc4KSn4/4+IAJEAgOJ2Co0w3XSCxSIkSCQkSyakSiVkyiTkyiUUKCSUKiX4VRA6zSLM
NZcw3wLCIosISywhrLCC0K2b0KefMGyYMGqcsM46wh57CAK4mWcdU9/YNo8pr81rRkh5r+kdJv8T
WjdGFQMQDgfuA8oBlaNvxHDvmjGmHAsBgaYXrgAbsdLUz+fJIERiAMFDEDb5mbdQeGoxLy8QFfYq
QMfq/xpnXKGYKZ4z/HumP07s29I7AomaWsI9XFAyTjix+bifA6DOSHvdbxuzRKoAUZAFyFLJHu0d
ID/oZyBAoWVMte9Al6cMKQ8dgEUzvcFrFAGEKgZXAk5GKhvzgLmCgodtFQC2ywJXi/gM+CnFTlf/
XN9yAOaL97SCnoI9tYgkhWYqLmhZpgmZbpVIGCySnKBFmkV4ckKxHJ4fPKNV2krcCThjhiTHFv/4
dqcow1Wlhnm4SpB7GqqR6GJoo8eIKp0udO69miFwjsIFUVfcc5lwYLWUA5Q4zBMDNo0EbWEJoDm4
Wgaz8Nn9rXkMHk8JGp8Ng10JucP4bTuLkcQHUdyRTsXWZzzMVo4xse4jU2hwBTeh0UDk0GpIuua/
ZdVSbRN5klKXpd/2sVMDJNDiBUkZn60DnY2LoQ1Cnv0UdzZJJTUSGO9lO3EglJ7t8NmUzj5lrfwh
ovVs5SvYLC8bj2EAC6F8W51uzVzc4Ppsg62JnLD47NltYZ2Bc9YAbtRnS49cGR+qig3WpIks/4EA
NRJUg7FSbDXEaEVFZpHtweUzlGqpgEQr4eiEZeU+kO+VZC2uFhgygJyWynhrTlD46j3rRbH4LEsz
WfZP5i6b31+QaCia2SYvA6QWe75rFjjuHq9T0xroiSbFUDGEZDzar20GTjNZjuCss2N0h6I5zFuG
JGIj0Pb1z8L+/7pAk4eaNcSVzWmNzZpaAVLz09g1YI8RN99k+B1HHBPNUNCOnlB/OKhl4tCjl78P
KgzhawnvQfsFhU6OyJ4UubItkiINSvsR48SRflNnqqhy4blrl24Yt+/k9x6Uj5671++7j1V0/vzX
Xb7+Wv+fFDL9T2ZZSJeVCwCUv8w/54rRTFKiA4DOA/54BLIsQIwQAAC590MJTAABAG6OtKlirqqi
ArKhoNVjNLG2wj04LmSfVOr3L0S0A4CjngBGHf0HOewRM2xOSZ3YtRlFRySdn6u1GHQoiDtoU81u
Uv1NECOfdV0WBDdXFHZpyhnIeDUGNWmUyRSRghoxB7kqwJU8jtTADHBsJP9M2aXbSPQ/3JPrcYEF
DtyxuhuZOydgAU9BckCssIXi+64y2Lu7RydIuVb5jHePkAUi3BfWOJnmmAcZUbCTT2i2aR7cEI0l
3xwaEKocgl9Qi5Owf8FDmAIlMBtsIkttfDqg1wgNW2U9P0hOUY9/UOXfVWygjmQR0Jr+IFlB/qig
IpxaG62UAUV8Q2ufgU5qDvF3/kPt6PeGckFuAuRXfg5YNGAAdNKt9ilJiGncUcOqwCNWXw9lHCbG
5Jxqs9KcPg8/3B4uGIzTxB7NCZhT56HwTFTCJP87gQM+GBOi+Ie6OnTYrdOeOTSH4D58NxjAOIBK
GCeYGKARJhYmB0yHyYVZCMyCWQRmJbAZ5tRZT0ezOV3P7mbzUD2dzebhevY0x98b2Edirz0Ajr8s
mQLOw/UPEPkNZBtIDwC2YRe/QIk3HhFlPSM5px9kgWBHl44uJiUdtGoDAo0YZJBNEk4Rjci3JBhU
J6XF0adquv8MGbtda/dYymk1EQV2sZTqq6pp9dDLgAqy5OKrTd8HocqVjy5fdHXnpWxiR3muUxWk
avaUqTPz0xd0RnlVk/JzbLUOy/Dilarxp0mpcxR/uF2mMiqnuuHK1LdJL7MFLiXnLQUxmmT06KJD
GnyjZs0inYB7KPej97YomO/jHC7UsSvSQAtzkCXGo0EaUtLfRRLJiDaqSoRyXXKR6kNaaBWWgaxk
8zxDO8Pdu9Xf69RKXMxQIqH7u2Z8zJiQhEBCISENBEZEAlF6/xHj2RfX2cQV0nEYKHL3bPlY5bca
1b/aRNIETv6Wy2hFa7FWyHFOEBsHSppgU9wZJn7qsKn1ylIgk/fMTmTwy03iQdsQHyEOS3q9EoQf
i4bWog1g+dos2+ZDhDNIXlAiDlNZVKO6rHU4GhNbVdJIRUGlb/2qeQXXhFy8suvFlfxgWi5IB3Wp
tJJXOkBPJ9/WhHTQ68G1O02HjuPNjcjSa7fo/KZp0DiSOWQHByrb75g9uiUb42sO5/Xi5vG6+MKf
nJQBIeOYi59H93QZ8cpQXWpsOqP7+XOR9//WszdOShUwmqfmaGv1csyW91N6Tdw0cONxVu2tzW4R
KGz+4FmYyqwa1XFwwEAOMthN57+3rT177RFrpfOo5xczA/TJ5kfYMQgkpLtxW4GTKaToUgNGtnE7
ncEsVw8pnfqsf+571iCxjPJ0mV+t5838YqhAWjjeQO8hkIpI+Xjhs1UppEdm/XVcyRgwCA6eZ1KV
a58PKar0o8RFSSBRHqE9kxMzC7WoC32vZXolCz6neqcpDSo4N82vOory+Hm45aoF2TxmX6Bs/c9d
OKq+BnrpT+mekwKnqKA8OY+Bc4gePXxJ8vSD7h3nlx6/88ohxmuknfOTQauTxDe5QsBw3DNDbqkg
Jug/oNJhffkAke/unP/NJ2IskEGgNrRSZlyGfOKZU3R6IqsnZDz74JJblDthNDFxcQs3mWvBYs+s
KClZFo8uHh7R4rbYeGNfJA4WvyCfEDneVdMQ5J9MiYhOoHKhlNWc18EflbQEvQSSv+H3z/E9SB+3
C3TwjV7cEiSyMSmili4YqlBppTKk1DfRuUQ732328C8lnOwhbYoWPzwiWhhpoUNUlGMHKVkFJCSc
5weycTc+v2lE+myFTmR08pI8hI3KNWYarv8Mcli/uVgYPKPqsacdpe2kISUXWQSiJSRnTjj+a3VS
s9ofgAWJJwLjQaofT2FY2wPn0T6skLBoU9+5dNqMoAxPmtyy7ekqu4skIIq2jnha1ZOYfZxD9fis
w4ou6tIsDhbTqvvteQOxP9U9/u972bQxiiivEm0MBbocwIMaek6DOnZBQcIqE5ymZMaSPYrV54jK
YycmPqPcXtVuIUi3r7Wjc9mtNqXkMtI/IMNQU0IJZOeBI3S1ezVd4m/SrVfFhyCo2WU7PsucFj44
eaepPgqBq/+vNuwv1tetLvXCpoMoSXD56/l+XDMF+0ydAMiq8k3zkyIKukK0d6483WZurK6UwdtI
C7k5B5LabVyu4LUHUH7Q4feHtc1imMLFCAMW2Kl5Fkrx8e0TLTaiaF2mYYldJI7c3PL+zXE75Sov
1+fjgtL80WcrkxZPmPbfbLqxwl+VdTK6M3IgW+OJYtebhsFVzpyHuk0nuVv/v9x8iWD5x+wFeeS+
e0r+FCaU++srWprNbGfho7XbLJC84ZCyrTM5O8heZ5pnFrWum9PkDWcF5H939TMZucAhHyJvQMg7
zw291ghhWZ/WVbJVttU3bdkOpAmq14nEQWhT+vz0BXXlx7MJLo+3fTTgxxHziRFmyznoEGM2aead
dc/ZOCD4DgG3/0Zfk4IjIQ39WsH7Uuh7qxvXydyOzAZ6dvkGk6KTz1+gMK0omOwWJ+sLQBBYm6yy
QrvYV6HvrqpqU2P4FJ2opqVLAfPkrQynqr4kOEF6sKBm1oHZWcDt+8N/Tn0t/FpXdHgxg/jl5i9E
l4u+Ge1+1teDL3lnmLHOqtRhOuUEc4dgN3FCy/EbrBUS4PaRYML6v3qh3r/WNyRE1u+9zi5uXIRC
hj2eN+o9b+j3QOiixmL2dVADR0hdVqXs9nqVi8sqQ0qHvVVZ5lcuWlfrLqtqVdu2mG1Ta2pszeYI
zdvDU4Hb/2Boorl0igpLvsLvMjZw9AVPqzB9qkrl05kAnYytUHmCc5RekRhFGUmjLf+4vPCun/IL
EQXi/j0gMOR2yB/7Z8XeEwsNDKbsehn/Hu53yOFia24DDG5HhKEwMQ4Sz5YeNV9Xzjjm+BA6m90j
mRE5aj/rvK7vvOobhk7rX87qBINkZP6MHEHZ0sCmFJ+Ve2myudUzCzYHQ6FFjN5R6B2bkLqSfvgD
x1uv0sWASzbUiew2aRDDlMFCW7PIoHZx73laktelaAy2vDyjTU5fzsNbvQEWgMk5DSKHDQ1iFlmz
ze5HMnPKJQacU61juli8oVcUnJQzOVN6J2aswbfyHqK8Q8A0Roz5tYomqbRJ4f9xQDKI7CDxlhz+
JYHbLP+IeEdBKXlUJNJ/n74uJllTI3LYZEEM81z4HGg0gTXIQc4xb9Y6VGjLy2s0etouAXln+3uH
oatOgVTlQnQ4p8GEiyblOYoQGUYhFa+fkMW/4sYkCO3HmMj3f4FXaWZKWotn2LVGbig18T+Ciwbu
60MCyaM8N0OFBWTxxVOOGJiqjMTv93Ck1W/amkXIUL2HBVK2xWz8MYI4t5q3QpP/nsx0XtgYs+3H
COrsr+uHujhzuE6wcpADQbzlwZh4RDHXP/wxYR49nOpYDXWmOFdqR/uPf6uTFTY5GMAktRXhkJ2w
9Xv7HXH+7W6ZvqIw1ACIbzRLOaxftTTg5gdufyL8z3jfn7KeGB+Ivx2Pw8KpJfo6qlMlK8oxoR6H
tpau86y0TixB+RorODe0O/nD2fwjC7uY3hPzyPgo2blo53jF7OQPdw+9W31KOLnq/szp7spJUwF4
0qdtfe8zJumnFdxdl2NS8wM6odWxSf1n/59q8MCXvfmpMZePH8WKn0jMz97Ttl7xRRbF5cb3x+fK
ZwlQyFg36qmZoy7momoHAj/W13e7NU1c+GVE3BPrb/8qJM1fMLfRp5a6fdD7+aW5erS0QNfMBm5/
cogPWUnWJXLI8tImeGDdm5+6snqRC28SSe91/ZlbvgnzZ7e7t7vj2Kyn1ZcOfUaBE3w7iber/EZC
kttiOpRezT+XFgivJ8abT6e3HE+rlLbqcJwDjpIFVz7nbVnhYFAeLFzy7lsDedtzjkKGo/rtxK1v
BJ4ptcDsslyl/0sfas23DMVHe7Ul7H91EuLEJHX5+ZJap2US/Kpvq2+7O+y0SGpH1R3zq+yr/s5N
HT8zToD5PEDfP7aJfHMd22qCGx17T+zFXhg5v7wSS6wnWt9433h/cxsn1gONcGjo2hOWfB3A8yLh
yZ/kZjcy3VplqRGTVxToGunZ5jXZGr0KERs0Da3nE11OE8OhQctyrKouXRPdqF4j1XSq3NOlywUZ
rU8/yIIYvsb0eTSB701ozXpWM2vuR/Jse06i/Vn4yTs2XTbiHqhpqWjV2bAWmdeXuSwQ0Cyu8IYk
oBPzt/amLZsYTawnfplMWbRl+Vz7bGWJX7bI65V1l1TNVntgAhOYHNM3f8U7Od1v3z70m9vaUGyR
ewuyGtINv6//OogdxPQeRRV4Hz39c/byjrZYyg9IZT1rxSdJxPjOcGL47tSDVE0bReVj4nq0wmzk
lghdTBCEtU3i82oWBwK6ZX5fu2yCJdiqtkj3zaPws0S7OycvXql0lF8Pw/X8w/AVt+yty95p+tnl
Uhd/IsOr//l4yWkK/0TRVr15uiUDPsowL04kLPec6Ej0pDVZ9LnhPJGJOpoxwP5C5LcMnBjI6tXz
X0/iGGeAdxny4B9fPbcE+qktCeZ/xpWPippI1OMtkaw1l5jOO9AdlvP2xIv/ph3evsfEYwCTFy4n
9szK3ODzd8od8Z/PXijYorFRxCQ8cUedYYGTg0ocXDe/ypSHNGB4QGxYh3xvnFDIZ7xBZpRlOoFp
7D1FcVJfNMqrew/6269DGYdKUhW4Qc3tpFKn8FQ0k2AGlTKfbwKmsck9kRAgiK2pox2izk/ujpbT
h3tDFR2po1uJweR435GerwIA2g+ap55TSS/h7H0o2+xRPpL54HM7z8Ey3yOP0sxG2fvwl0jU59ea
94NIcFg0snNEFBwG79I3MET4rJvXmcgbdNpZga+tOFtM+QTm1d2wtJxsYGgVpWkXjGhKH/cNJ/Qt
SYcuxKUVVGAaO9Yuia8viTmWeHTWlb3eigl1pdCxv/tnX9GNa55DZL4fWD3xvEY/v08fm4+ThmYM
i0eAA8i73F3l5+Ope2wJrpS+ONfaMSJUWU6e0p5UGagFprHb2i0bP10ALfh1iWrLrbGd9XQLydpA
hw5zPQeVq2vVqw9yyw9C9AaS1UKvbylNrKh5F1xYcWEx6hV9fKGFIXAs1Ntzu6c3BPLOdpGKTD8y
Tc8Ls3OaLRY4aLA5ETGfSCS51p5YSyopwjlyO5Jll3qFk4yOW89bqnWRXF1PsjL+Z8LqJKbT5mBS
uS439jkvpSryxnF/e1NDc0MEAR47KKtP1/FVRfRWQYlxC7FFGI2m2A69IMZSCidDU0P9zXWdHAOn
ThEdj1gOu1gld7si05MWgXGtHrZHxhUz5cvFmCYTEzdxLttZn3dgLqe2U7M+pLGvZRX8DA2SFbUs
oWUS+UOmfCKxp233cQGqYLqCL/t5amO9wIGjQRsuCdrxOiFIJgcWTkqvwS8QYwRh3y23jxaylBqf
CLOJgxjWjLLN8+atE/NseXkIxLAocrwxoKBM7t822j1EU9h1WhjfUZKm+nTsaTwSQqzZ7I9A1iB/
2ud/Ez8K5ZO25Apcvwd7QKV8GkUjrOv9XbtLWcRqaOhbPQPuw6pqf3teJ2Od0I5LgjiuCLrwZqFR
Xci955oml0spRze3bT05Wc66RTZPc1YqfspfDMOL+YfhPbfsHT04cT7bNrGvPY7on8X3xXiWbOej
dT8PQ1hJQuc3aXhlcctGFnDEYiino3S22Rc6LvCWp3sM4HTPP7aFemor6dTy+TxinOpN0EZCYPjs
ud6iYpJ42xFC/6An3dUD7fn0t2t/35EZ3lXnAJms8/G/FlVky5jWZe1/decXqmWveUtTf476bNuO
S4ItLa5UmDKpvxKKI4N7tytdM8oMIj+O1cG6danvzPuSJ574xe46rSYZTEJ69AXySlYa9/mQZHLR
PdHU/yByDblT7i7ACl24+nu3mC66882IXD76zV2R6O43o3L5yDd34GlUs0RioVItEom5869AUgCk
m4f3dbbvGwRxh27Nq2m5vGmX9vkcDy7TxX5yVgf5geqqKO8qdjqHk85eFeX11cGAzpl+uyI1jMrl
aFhgu/1aGbQ/Rp6IRE+Qa/iNfWXQPooQMEwgMPwGLACiY0E0ABbDuEBavxRIAMAB1kfVgsQ9JVQp
1rFElsHIDGLJlNLISBfviRJlkV7GNWujFDtLorgqi4v1gv0UDxpF5htBoiDWwwPT6PUkLJVRWCC2
LkpNtIvRWRpjERPHKBdfHZWWRTYwn1kDfsESwxO1yjixDSDM0hmb1V58TVSmCGc1Hpol6c2hAQDY
Di8Vxl7LXWV7rbvxbicQ/h2oOeqIIFRjapEfa3/fUfXoNv10rrqwcFZ/VYdyAfSCWqQKSsEL08Cd
DFCNFYc8m6N+FGWlwi27BcGv9X0/Iyus2e7wmDxPafbsmQQ9CikEdIAUKXwcgEX4WvmRuyWf5Y0q
dmpnxQJ4duHIsCOeGTOKio7YMnZLWuGVAHl+DZ7q9wRywY+/31eAzLHSfZkZP1P9CRObCJfKhZfg
FqT+TOQzAijbquLHXctJK/7iXfpLwBtu1g8A3q5+efjxQeeIAXChABDQ7/3/iPOS4RgvBSE+1gN5
WpuXQQXDv6segmkhKyrZ/R7BqdjdiVs71WNn0BwUspoP1psS3MorZd5iJQVrhHJH1Je5hhUH/rnN
kwzRaoZI1Rj+Uyz+UAVzQ5DHWYVc5IGEk2+juw1UKSuE4Ak7zLX+zK3v4Yf9epVET0JggkVZUtRd
stse/j2Y2Ufmue/z7kxs4Nm76NnAg+fcZ3lDpUlYvXLW931O7Hn5G5S+QzDviO6WY/zgB0/O6u/9
Z5Lb7Mbin8ik1OPUYr5lMfLpL6YMv6PspMxvmKNGTgHqNPJbrPkTzWQ9TZJm1IUfMWtz+TegFlrq
n0gp2OCWZbBHxeOdqK9+isbc5hnFgsK+wvLZR9JN8BlteRghg/xj0S2SlXB+LBmS9jNpCPta36f3
+9oRX7+q1hDguFMiWcuGAOAGhaxFI4CTvrCacQEfgusQMnzYoYgWd4emYljDzXOHjXUzr8NOytx/
J6IpnB/UGTdhszUG9RuwjiVfrjy5suCA+apQlq/VY1yXXow412ZrrVOjfuOWZmO6jVtjYqNQXfU4
SqNW63zgl1OxjXmfEBH5mtToOaWzjbjRoHUG1Jyg1vqJa2wgUo1JNCa10CFk9GR366owV61PcLqv
dqnhy4VMEzImUM3ajzjOEjBiug2Tm37r8z96jXw+ufLlKVerXkCnciKxie2A2bRAollrUFyl5dUs
iAJfHGpAzDrdOLVBWV7Bp1SxLjwqZFjv88p9fEYM6mpVRbgnFCtQKFexqFLam7W6R64mnFnLJ9aM
8A1M9VvGp1OjNop4GX5cvv99HGiSJEuRJlOWbLnyFShWoly9RkFt2s0x1wJLLRvFHf6LrKiabpiW
7biej4IqHQ0dAxMLGwdXBh4+ASGYCEJMQgolI6egpKKWKYuGlo5eNgOjHLnymJjls8BMYIWzsXNw
KuDiVqhIsRKlynh4lavgU8mvSrWAGrXq1GvQqEmzoIkmmWyKqaaZboaZZpmtRUirNu06dOrK9IXW
2FwdHQ0p7x2460MfuCARyjgKRdV0w7TsnFIQyjgKRdV0w7TsnAIIZRxFlWvluxgiAAAAQHuG60Yo
4ygUVdMN07JzykEo4ygUVdMN07JziiCUcRRjKAcRERGxk5ySXsn/37tcKrOwDUh+5+f+OtIk1x3z
fG3z+ZjaKgAAAA==) format("woff"),
    url(data:font/truetype;charset=utf-8;base64,d09GMgABAAAAABwYAA4AAAAAQQwAABu9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGoEaG51mHII4
BmAAggwRCArFQLcZC4IcAAE2AiQDhCYEIAWFCAeJZRvRNzVj3M0MGweAQ7ZFIypGG42idFDuyP7/
zwlqjCE8dgJq1SaZ0xKDausFO61dtaWvY51g5fvm2IMtA3HKp99tKXbgSMZPB77iM0ycd0BaK/R3
mWXveX36nwBkIdBge4751rBJeKPaEI+fsvSv3PH/yAlyCeQti6scobFPcuF56s/6c6sqbGc+Mn4t
peG000p7qLQ8knefXoIrYQUyFs71P0l6DXTLuaREnwiEJiHZPaFVGcDB5H542uY/9bCwQGiJ44Aj
lRBUkBtHCCYoomizaDEX5dqVc/xluvjbLcqxWcv8kekvfwUAT/9/z36fOZdaHr/IIwuSgAK14Ouf
aWsFFeq5hvbzJaq1+vnM3tg9E2eh+QEy/fvRfunM/ouZl9/IEpKrWjgIoIyKqsvZPR8kLCSgAICl
q+lLUbqZfWbbyt/44xSOgFongMxwAi9Qfi6Xw+FwOFzYrRf0g3eCqlNTVNJzfrAxZOowxhhCY516
/Z/NtN1/c3oHqKgM4IHdhXqmLlU1u39n5NG/ERlX8/x0Z9aZSaPVgQJARYVks0JIXZ67AFVpUxWp
ilRlijou6iZE5emZ21T6IFThzFQ6oQBGCloDrsmY1rtY0v6DY+HYEbsn/ictK2z0malnqmoXlYuo
qKjedxHPQQc4KSn4/4+IAJEAgOJ2Co0w3XSCxSIkSCQkSyakSiVkyiTkyiUUKCSUKiX4VRA6zSLM
NZcw3wLCIosISywhrLCC0K2b0KefMGyYMGqcsM46wh57CAK4mWcdU9/YNo8pr81rRkh5r+kdJv8T
WjdGFQMQDgfuA8oBlaNvxHDvmjGmHAsBgaYXrgAbsdLUz+fJIERiAMFDEDb5mbdQeGoxLy8QFfYq
QMfq/xpnXKGYKZ4z/HumP07s29I7AomaWsI9XFAyTjix+bifA6DOSHvdbxuzRKoAUZAFyFLJHu0d
ID/oZyBAoWVMte9Al6cMKQ8dgEUzvcFrFAGEKgZXAk5GKhvzgLmCgodtFQC2ywJXi/gM+CnFTlf/
XN9yAOaL97SCnoI9tYgkhWYqLmhZpgmZbpVIGCySnKBFmkV4ckKxHJ4fPKNV2krcCThjhiTHFv/4
dqcow1Wlhnm4SpB7GqqR6GJoo8eIKp0udO69miFwjsIFUVfcc5lwYLWUA5Q4zBMDNo0EbWEJoDm4
Wgaz8Nn9rXkMHk8JGp8Ng10JucP4bTuLkcQHUdyRTsXWZzzMVo4xse4jU2hwBTeh0UDk0GpIuua/
ZdVSbRN5klKXpd/2sVMDJNDiBUkZn60DnY2LoQ1Cnv0UdzZJJTUSGO9lO3EglJ7t8NmUzj5lrfwh
ovVs5SvYLC8bj2EAC6F8W51uzVzc4Ppsg62JnLD47NltYZ2Bc9YAbtRnS49cGR+qig3WpIks/4EA
NRJUg7FSbDXEaEVFZpHtweUzlGqpgEQr4eiEZeU+kO+VZC2uFhgygJyWynhrTlD46j3rRbH4LEsz
WfZP5i6b31+QaCia2SYvA6QWe75rFjjuHq9T0xroiSbFUDGEZDzar20GTjNZjuCss2N0h6I5zFuG
JGIj0Pb1z8L+/7pAk4eaNcSVzWmNzZpaAVLz09g1YI8RN99k+B1HHBPNUNCOnlB/OKhl4tCjl78P
KgzhawnvQfsFhU6OyJ4UubItkiINSvsR48SRflNnqqhy4blrl24Yt+/k9x6Uj5671++7j1V0/vzX
Xb7+Wv+fFDL9T2ZZSJeVCwCUv8w/54rRTFKiA4DOA/54BLIsQIwQAAC590MJTAABAG6OtKlirqqi
ArKhoNVjNLG2wj04LmSfVOr3L0S0A4CjngBGHf0HOewRM2xOSZ3YtRlFRySdn6u1GHQoiDtoU81u
Uv1NECOfdV0WBDdXFHZpyhnIeDUGNWmUyRSRghoxB7kqwJU8jtTADHBsJP9M2aXbSPQ/3JPrcYEF
DtyxuhuZOydgAU9BckCssIXi+64y2Lu7RydIuVb5jHePkAUi3BfWOJnmmAcZUbCTT2i2aR7cEI0l
3xwaEKocgl9Qi5Owf8FDmAIlMBtsIkttfDqg1wgNW2U9P0hOUY9/UOXfVWygjmQR0Jr+IFlB/qig
IpxaG62UAUV8Q2ufgU5qDvF3/kPt6PeGckFuAuRXfg5YNGAAdNKt9ilJiGncUcOqwCNWXw9lHCbG
5Jxqs9KcPg8/3B4uGIzTxB7NCZhT56HwTFTCJP87gQM+GBOi+Ie6OnTYrdOeOTSH4D58NxjAOIBK
GCeYGKARJhYmB0yHyYVZCMyCWQRmJbAZ5tRZT0ezOV3P7mbzUD2dzebhevY0x98b2Edirz0Ajr8s
mQLOw/UPEPkNZBtIDwC2YRe/QIk3HhFlPSM5px9kgWBHl44uJiUdtGoDAo0YZJBNEk4Rjci3JBhU
J6XF0adquv8MGbtda/dYymk1EQV2sZTqq6pp9dDLgAqy5OKrTd8HocqVjy5fdHXnpWxiR3muUxWk
avaUqTPz0xd0RnlVk/JzbLUOy/Dilarxp0mpcxR/uF2mMiqnuuHK1LdJL7MFLiXnLQUxmmT06KJD
GnyjZs0inYB7KPej97YomO/jHC7UsSvSQAtzkCXGo0EaUtLfRRLJiDaqSoRyXXKR6kNaaBWWgaxk
8zxDO8Pdu9Xf69RKXMxQIqH7u2Z8zJiQhEBCISENBEZEAlF6/xHj2RfX2cQV0nEYKHL3bPlY5bca
1b/aRNIETv6Wy2hFa7FWyHFOEBsHSppgU9wZJn7qsKn1ylIgk/fMTmTwy03iQdsQHyEOS3q9EoQf
i4bWog1g+dos2+ZDhDNIXlAiDlNZVKO6rHU4GhNbVdJIRUGlb/2qeQXXhFy8suvFlfxgWi5IB3Wp
tJJXOkBPJ9/WhHTQ68G1O02HjuPNjcjSa7fo/KZp0DiSOWQHByrb75g9uiUb42sO5/Xi5vG6+MKf
nJQBIeOYi59H93QZ8cpQXWpsOqP7+XOR9//WszdOShUwmqfmaGv1csyW91N6Tdw0cONxVu2tzW4R
KGz+4FmYyqwa1XFwwEAOMthN57+3rT177RFrpfOo5xczA/TJ5kfYMQgkpLtxW4GTKaToUgNGtnE7
ncEsVw8pnfqsf+571iCxjPJ0mV+t5838YqhAWjjeQO8hkIpI+Xjhs1UppEdm/XVcyRgwCA6eZ1KV
a58PKar0o8RFSSBRHqE9kxMzC7WoC32vZXolCz6neqcpDSo4N82vOory+Hm45aoF2TxmX6Bs/c9d
OKq+BnrpT+mekwKnqKA8OY+Bc4gePXxJ8vSD7h3nlx6/88ohxmuknfOTQauTxDe5QsBw3DNDbqkg
Jug/oNJhffkAke/unP/NJ2IskEGgNrRSZlyGfOKZU3R6IqsnZDz74JJblDthNDFxcQs3mWvBYs+s
KClZFo8uHh7R4rbYeGNfJA4WvyCfEDneVdMQ5J9MiYhOoHKhlNWc18EflbQEvQSSv+H3z/E9SB+3
C3TwjV7cEiSyMSmili4YqlBppTKk1DfRuUQ732328C8lnOwhbYoWPzwiWhhpoUNUlGMHKVkFJCSc
5weycTc+v2lE+myFTmR08pI8hI3KNWYarv8Mcli/uVgYPKPqsacdpe2kISUXWQSiJSRnTjj+a3VS
s9ofgAWJJwLjQaofT2FY2wPn0T6skLBoU9+5dNqMoAxPmtyy7ekqu4skIIq2jnha1ZOYfZxD9fis
w4ou6tIsDhbTqvvteQOxP9U9/u972bQxiiivEm0MBbocwIMaek6DOnZBQcIqE5ymZMaSPYrV54jK
YycmPqPcXtVuIUi3r7Wjc9mtNqXkMtI/IMNQU0IJZOeBI3S1ezVd4m/SrVfFhyCo2WU7PsucFj44
eaepPgqBq/+vNuwv1tetLvXCpoMoSXD56/l+XDMF+0ydAMiq8k3zkyIKukK0d6483WZurK6UwdtI
C7k5B5LabVyu4LUHUH7Q4feHtc1imMLFCAMW2Kl5Fkrx8e0TLTaiaF2mYYldJI7c3PL+zXE75Sov
1+fjgtL80WcrkxZPmPbfbLqxwl+VdTK6M3IgW+OJYtebhsFVzpyHuk0nuVv/v9x8iWD5x+wFeeS+
e0r+FCaU++srWprNbGfho7XbLJC84ZCyrTM5O8heZ5pnFrWum9PkDWcF5H939TMZucAhHyJvQMg7
zw291ghhWZ/WVbJVttU3bdkOpAmq14nEQWhT+vz0BXXlx7MJLo+3fTTgxxHziRFmyznoEGM2aead
dc/ZOCD4DgG3/0Zfk4IjIQ39WsH7Uuh7qxvXydyOzAZ6dvkGk6KTz1+gMK0omOwWJ+sLQBBYm6yy
QrvYV6HvrqpqU2P4FJ2opqVLAfPkrQynqr4kOEF6sKBm1oHZWcDt+8N/Tn0t/FpXdHgxg/jl5i9E
l4u+Ge1+1teDL3lnmLHOqtRhOuUEc4dgN3FCy/EbrBUS4PaRYML6v3qh3r/WNyRE1u+9zi5uXIRC
hj2eN+o9b+j3QOiixmL2dVADR0hdVqXs9nqVi8sqQ0qHvVVZ5lcuWlfrLqtqVdu2mG1Ta2pszeYI
zdvDU4Hb/2Boorl0igpLvsLvMjZw9AVPqzB9qkrl05kAnYytUHmCc5RekRhFGUmjLf+4vPCun/IL
EQXi/j0gMOR2yB/7Z8XeEwsNDKbsehn/Hu53yOFia24DDG5HhKEwMQ4Sz5YeNV9Xzjjm+BA6m90j
mRE5aj/rvK7vvOobhk7rX87qBINkZP6MHEHZ0sCmFJ+Ve2myudUzCzYHQ6FFjN5R6B2bkLqSfvgD
x1uv0sWASzbUiew2aRDDlMFCW7PIoHZx73laktelaAy2vDyjTU5fzsNbvQEWgMk5DSKHDQ1iFlmz
ze5HMnPKJQacU61juli8oVcUnJQzOVN6J2aswbfyHqK8Q8A0Roz5tYomqbRJ4f9xQDKI7CDxlhz+
JYHbLP+IeEdBKXlUJNJ/n74uJllTI3LYZEEM81z4HGg0gTXIQc4xb9Y6VGjLy2s0etouAXln+3uH
oatOgVTlQnQ4p8GEiyblOYoQGUYhFa+fkMW/4sYkCO3HmMj3f4FXaWZKWotn2LVGbig18T+Ciwbu
60MCyaM8N0OFBWTxxVOOGJiqjMTv93Ck1W/amkXIUL2HBVK2xWz8MYI4t5q3QpP/nsx0XtgYs+3H
COrsr+uHujhzuE6wcpADQbzlwZh4RDHXP/wxYR49nOpYDXWmOFdqR/uPf6uTFTY5GMAktRXhkJ2w
9Xv7HXH+7W6ZvqIw1ACIbzRLOaxftTTg5gdufyL8z3jfn7KeGB+Ivx2Pw8KpJfo6qlMlK8oxoR6H
tpau86y0TixB+RorODe0O/nD2fwjC7uY3hPzyPgo2blo53jF7OQPdw+9W31KOLnq/szp7spJUwF4
0qdtfe8zJumnFdxdl2NS8wM6odWxSf1n/59q8MCXvfmpMZePH8WKn0jMz97Ttl7xRRbF5cb3x+fK
ZwlQyFg36qmZoy7momoHAj/W13e7NU1c+GVE3BPrb/8qJM1fMLfRp5a6fdD7+aW5erS0QNfMBm5/
cogPWUnWJXLI8tImeGDdm5+6snqRC28SSe91/ZlbvgnzZ7e7t7vj2Kyn1ZcOfUaBE3w7iber/EZC
kttiOpRezT+XFgivJ8abT6e3HE+rlLbqcJwDjpIFVz7nbVnhYFAeLFzy7lsDedtzjkKGo/rtxK1v
BJ4ptcDsslyl/0sfas23DMVHe7Ul7H91EuLEJHX5+ZJap2US/Kpvq2+7O+y0SGpH1R3zq+yr/s5N
HT8zToD5PEDfP7aJfHMd22qCGx17T+zFXhg5v7wSS6wnWt9433h/cxsn1gONcGjo2hOWfB3A8yLh
yZ/kZjcy3VplqRGTVxToGunZ5jXZGr0KERs0Da3nE11OE8OhQctyrKouXRPdqF4j1XSq3NOlywUZ
rU8/yIIYvsb0eTSB701ozXpWM2vuR/Jse06i/Vn4yTs2XTbiHqhpqWjV2bAWmdeXuSwQ0Cyu8IYk
oBPzt/amLZsYTawnfplMWbRl+Vz7bGWJX7bI65V1l1TNVntgAhOYHNM3f8U7Od1v3z70m9vaUGyR
ewuyGtINv6//OogdxPQeRRV4Hz39c/byjrZYyg9IZT1rxSdJxPjOcGL47tSDVE0bReVj4nq0wmzk
lghdTBCEtU3i82oWBwK6ZX5fu2yCJdiqtkj3zaPws0S7OycvXql0lF8Pw/X8w/AVt+yty95p+tnl
Uhd/IsOr//l4yWkK/0TRVr15uiUDPsowL04kLPec6Ej0pDVZ9LnhPJGJOpoxwP5C5LcMnBjI6tXz
X0/iGGeAdxny4B9fPbcE+qktCeZ/xpWPippI1OMtkaw1l5jOO9AdlvP2xIv/ph3evsfEYwCTFy4n
9szK3ODzd8od8Z/PXijYorFRxCQ8cUedYYGTg0ocXDe/ypSHNGB4QGxYh3xvnFDIZ7xBZpRlOoFp
7D1FcVJfNMqrew/6269DGYdKUhW4Qc3tpFKn8FQ0k2AGlTKfbwKmsck9kRAgiK2pox2izk/ujpbT
h3tDFR2po1uJweR435GerwIA2g+ap55TSS/h7H0o2+xRPpL54HM7z8Ey3yOP0sxG2fvwl0jU59ea
94NIcFg0snNEFBwG79I3MET4rJvXmcgbdNpZga+tOFtM+QTm1d2wtJxsYGgVpWkXjGhKH/cNJ/Qt
SYcuxKUVVGAaO9Yuia8viTmWeHTWlb3eigl1pdCxv/tnX9GNa55DZL4fWD3xvEY/v08fm4+ThmYM
i0eAA8i73F3l5+Ope2wJrpS+ONfaMSJUWU6e0p5UGagFprHb2i0bP10ALfh1iWrLrbGd9XQLydpA
hw5zPQeVq2vVqw9yyw9C9AaS1UKvbylNrKh5F1xYcWEx6hV9fKGFIXAs1Ntzu6c3BPLOdpGKTD8y
Tc8Ls3OaLRY4aLA5ETGfSCS51p5YSyopwjlyO5Jll3qFk4yOW89bqnWRXF1PsjL+Z8LqJKbT5mBS
uS439jkvpSryxnF/e1NDc0MEAR47KKtP1/FVRfRWQYlxC7FFGI2m2A69IMZSCidDU0P9zXWdHAOn
ThEdj1gOu1gld7si05MWgXGtHrZHxhUz5cvFmCYTEzdxLttZn3dgLqe2U7M+pLGvZRX8DA2SFbUs
oWUS+UOmfCKxp233cQGqYLqCL/t5amO9wIGjQRsuCdrxOiFIJgcWTkqvwS8QYwRh3y23jxaylBqf
CLOJgxjWjLLN8+atE/NseXkIxLAocrwxoKBM7t822j1EU9h1WhjfUZKm+nTsaTwSQqzZ7I9A1iB/
2ud/Ez8K5ZO25Apcvwd7QKV8GkUjrOv9XbtLWcRqaOhbPQPuw6pqf3teJ2Od0I5LgjiuCLrwZqFR
Xci955oml0spRze3bT05Wc66RTZPc1YqfspfDMOL+YfhPbfsHT04cT7bNrGvPY7on8X3xXiWbOej
dT8PQ1hJQuc3aXhlcctGFnDEYiino3S22Rc6LvCWp3sM4HTPP7aFemor6dTy+TxinOpN0EZCYPjs
ud6iYpJ42xFC/6An3dUD7fn0t2t/35EZ3lXnAJms8/G/FlVky5jWZe1/decXqmWveUtTf476bNuO
S4ItLa5UmDKpvxKKI4N7tytdM8oMIj+O1cG6danvzPuSJ574xe46rSYZTEJ69AXySlYa9/mQZHLR
PdHU/yByDblT7i7ACl24+nu3mC66882IXD76zV2R6O43o3L5yDd34GlUs0RioVItEom5869AUgCk
m4f3dbbvGwRxh27Nq2m5vGmX9vkcDy7TxX5yVgf5geqqKO8qdjqHk85eFeX11cGAzpl+uyI1jMrl
aFhgu/1aGbQ/Rp6IRE+Qa/iNfWXQPooQMEwgMPwGLACiY0E0ABbDuEBavxRIAMAB1kfVgsQ9JVQp
1rFElsHIDGLJlNLISBfviRJlkV7GNWujFDtLorgqi4v1gv0UDxpF5htBoiDWwwPT6PUkLJVRWCC2
LkpNtIvRWRpjERPHKBdfHZWWRTYwn1kDfsESwxO1yjixDSDM0hmb1V58TVSmCGc1Hpol6c2hAQDY
Di8Vxl7LXWV7rbvxbicQ/h2oOeqIIFRjapEfa3/fUfXoNv10rrqwcFZ/VYdyAfSCWqQKSsEL08Cd
DFCNFYc8m6N+FGWlwi27BcGv9X0/Iyus2e7wmDxPafbsmQQ9CikEdIAUKXwcgEX4WvmRuyWf5Y0q
dmpnxQJ4duHIsCOeGTOKio7YMnZLWuGVAHl+DZ7q9wRywY+/31eAzLHSfZkZP1P9CRObCJfKhZfg
FqT+TOQzAijbquLHXctJK/7iXfpLwBtu1g8A3q5+efjxQeeIAXChABDQ7/3/iPOS4RgvBSE+1gN5
WpuXQQXDv6segmkhKyrZ/R7BqdjdiVs71WNn0BwUspoP1psS3MorZd5iJQVrhHJH1Je5hhUH/rnN
kwzRaoZI1Rj+Uyz+UAVzQ5DHWYVc5IGEk2+juw1UKSuE4Ak7zLX+zK3v4Yf9epVET0JggkVZUtRd
stse/j2Y2Ufmue/z7kxs4Nm76NnAg+fcZ3lDpUlYvXLW931O7Hn5G5S+QzDviO6WY/zgB0/O6u/9
Z5Lb7Mbin8ik1OPUYr5lMfLpL6YMv6PspMxvmKNGTgHqNPJbrPkTzWQ9TZJm1IUfMWtz+TegFlrq
n0gp2OCWZbBHxeOdqK9+isbc5hnFgsK+wvLZR9JN8BlteRghg/xj0S2SlXB+LBmS9jNpCPta36f3
+9oRX7+q1hDguFMiWcuGAOAGhaxFI4CTvrCacQEfgusQMnzYoYgWd4emYljDzXOHjXUzr8NOytx/
J6IpnB/UGTdhszUG9RuwjiVfrjy5suCA+apQlq/VY1yXXow412ZrrVOjfuOWZmO6jVtjYqNQXfU4
SqNW63zgl1OxjXmfEBH5mtToOaWzjbjRoHUG1Jyg1vqJa2wgUo1JNCa10CFk9GR366owV61PcLqv
dqnhy4VMEzImUM3ajzjOEjBiug2Tm37r8z96jXw+ufLlKVerXkCnciKxie2A2bRAollrUFyl5dUs
iAJfHGpAzDrdOLVBWV7Bp1SxLjwqZFjv88p9fEYM6mpVRbgnFCtQKFexqFLam7W6R64mnFnLJ9aM
8A1M9VvGp1OjNop4GX5cvv99HGiSJEuRJlOWbLnyFShWoly9RkFt2s0x1wJLLRvFHf6LrKiabpiW
7biej4IqHQ0dAxMLGwdXBh4+ASGYCEJMQgolI6egpKKWKYuGlo5eNgOjHLnymJjls8BMYIWzsXNw
KuDiVqhIsRKlynh4lavgU8mvSrWAGrXq1GvQqEmzoIkmmWyKqaaZboaZZpmtRUirNu06dOrK9IXW
2FwdHQ0p7x2460MfuCARyjgKRdV0w7TsnFIQyjgKRdV0w7TsnAIIZRxFlWvluxgiAAAAQHuG60Yo
4ygUVdMN07JzykEo4ygUVdMN07JziiCUcRRjKAcRERGxk5ySXsn/37tcKrOwDUh+5+f+OtIk1x3z
fG3z+ZjaKgAAAA==) format("truetype");
}

/*
    Phantom by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

mark {
    background-color: transparent;
    color: inherit;
}


/* Type */

    body, input, select, textarea {
        color: #585858;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 16pt;
        font-weight: 300;
        line-height: 1.75;
    }

    p {
        margin: 0 0 2em 0;
    }

/* Table */

    .table-wrapper {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
    }

    table {
        margin: 0 0 2em 0;
        width: 100%;
    }

        table tbody tr {
            border: none;/*solid 1px #c9c9c9;*/
            border-left: 0;
            border-right: 0;
        }

            table tbody tr:nth-child(2n + 1) {
                background-color: rgba(144, 144, 144, 0.075);
            }

        table td {
            padding: 0.75em 0.75em;
        }

        table th {
            font-size: 0.9em;
            font-weight: 900;
            padding: 0 0.75em 0.75em 0.75em;
            text-align: left;
        }

        table thead {
            /*border-bottom: solid 2px #c9c9c9;*/
        }

        table tfoot {
            /*border-top: solid 2px #c9c9c9;*/
            border-top: none;
        }

        table.alt {
            border-collapse: separate;
        }

            /*table.alt tbody tr td {
                border: solid 1px #c9c9c9;
                border-left-width: 0;
                border-top-width: 0;
            }*/

                table.alt tbody tr td:first-child {
                    border-left-width: 1px;
                }

            table.alt tbody tr:first-child td {
                border-top-width: 1px;
            }

            table.alt thead {
                border-bottom: 0;
            }

            table.alt tfoot {
                border-top: 0;
            }




.inner h1 span {
    float: right;
    font-weight: 100;
}

span.fa.fa-minus-circle {
    color: #f36b6b;
}

/*tfoot td {
    text-align: right !important;
}*/

textarea {
    padding: 10px;
}

.title {
    font-family: 'Major Mono Display', monospace;
}
.title ul {
    padding: 0;
}
.title li {
    padding: 0;
}
span.title ul {
    list-style: none;
}
.title li:first-of-type {
    font-size: 35px;
}
span.title li:last-of-type {
    text-transform: lowercase;
}

h1 {
    font-size: 8.85em;
    font-weight: 700;
    line-height: .9;
    color: #689abb;
    margin: 0 0 0em 0px;
    letter-spacing: -0.035em;
    margin-left: -10px;
}
table {
    font-size: 12px;
}
table th {
    font-weight: normal;
}
table thead {
    border-bottom: none;
}
.client-address {
    font-size: 8px;
    margin-left: 0px;
    margin-top: 7px;
    margin-bottom: 2em;
    font-weight: 100;
}
.my-address {
    vertical-align: top;
    text-align: right;
}
h1.sub-title {
    font-size: 24px;margin-left: 0px;margin-bottom: 0em;font-weight: 100;
}
</style>

<div id="main">
<div class="inner">
                            
<section>
<div class="table-wrapper">
    <table>
    <tbody>

        <%#= @client.inspect %>
        <tr style="background: none;">
        <td>
        <h1>hiya</h1>
        <h1 class="sub-title">this is your invoice</h1>
        <h1 class="client-address"><%= @invoice.client %> <%= @client["address"] %>
            <%= @client["city"] %> <%= @client["state"] %> <%= @client["zip"] %></h1>
        </td>
             <td class="my-address">
                ethan allen 4275 eiesenhower rd <br>lafayette IN 74905 
                <br>
                <span style="font-size:20px">Invoice #<%= @invoice.invoice_number %></span>
             </td>
    
        </tr>
    </tbody>
    </table>
</div>

<table>
    <tr style="background: none;">
        <td style="vertical-align: top;">
            <p>Project Title: <%= @invoice.project_title %></p>
            <p><%= @invoice.description %></p>
            <p style="font-size:8px">terms: * <%= @invoice.terms %></p>
            <p style="font-size:8px">notes: <%= @invoice.notes %></p>
        </td>
    </tr>
</table>

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>QTY</th>
                <th>Cost</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <% @invoice.invoice_items.each_pair do |key, value| %>
                <tr>
                    <td><%= value["description"] %></td>
                    <td><%= value["qty"] %></td>
                    <td><%= value["rate"] %></td>
                    <td><%= value["total"] %></td>
                </tr>
            <% end %>
        </tbody>
        <tfoot>   
            <tr>
                <td colspan="2"></td>   
                <td style="text-align: right;">Sub Total</td>
                <td><%= @invoice.subtotal %></td>
            </tr>

            <tr>
                <td colspan="2"></td>
                <td style="text-align: right;">Tax (0%)</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td style="text-align: right;">Total</td>
                <td><%= @invoice.items_total %></td>
            </tr>
        </tfoot>

    </table>

</div>

</section>                             

</div>
</div>